<header>
	<nav class="be-green black large-padding">
		<ul class="row center-xs middle-xs no-lits" >
			<li class="col-md">
				<h1 class="no-margin">
					<%= link_to "Rails", root_path, class: "logo" %>
				</h1>
			</li>
			<li class="col-md">
				<%= link_to "Articles", articles_path, class: "title" %>
			</li>
			<% @categories.each do |category| %>
				<li class="col-md">
					<%= link_to category.name, category, {style: "color: #{category.color};", class: "title"} %>
				</li>
			<% end %>

			<% if user_signed_in? %>
				<li class="col-md">	
					<%= button_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class: "session btn white" %>
				</li>
			<% else %>
				<li class="col-md">	
					<%= button_to "Iniciar Sesion", new_user_session_path, method: :get, class: "session btn white" %>
				</li>
				<li class="col-md">	
					<%= button_to "Crear cuenta", new_user_registration_path, method: :get, class: "session btn2 purple" %>
				</li>
			<% end %>
		</ul>
	</nav>
</header>